/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --shadow_title:#FF0070;
  --accent-color: #ff8dcb;
  --accent-title: #ffc2e6;
  --bk-color:#fff1f7;
  --text-color:#353430;
  --title_text: var(--text-color);
  --paragraph_text:var(--text-color);
  --button-color:var(--text-color);
  --cover-image: url(../images/cover-image-light.png);
  --accent-font: 'IBM Plex Mono';
  --font-size: 18px;
  --font-size_title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hover-color: rgba(50, 49, 45, 0.40);
  --display-rec: none;
}

@media (prefers-color-scheme: light) {
  :root {
  --shadow_title:#FF0070;
  --accent-color: #ff8dcb;
  --accent-title: #ffc2e6;
  --bk-color:#fff1f7;
  --text-color:#353430;
  --paragraph_text:var(--text-color);
  --title_text: var(--text-color);
  --button-color:var(--text-color);
  --cover-image: url(../images/cover-image-light.png);
  --accent-font: 'IBM Plex Mono';
  --font-size: 18px;
  --font-size_title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hover-color: rgba(50, 49, 45, 0.40);
  --display-rec: none;
  }
}

.page.theme_light .rec_icon {
  display: none;
}
