/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  background: var(--cover-image);
  background-color: var(--bk-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.header {
  position: relative;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
  width: 100%;
}


.rec_icon {
  position: absolute;
  right: 38px;
  top: 10px;
  gap: 40px;
  color: var(--accent-color);
  font-weight: 400;
  font-size: var(--font-size);
  font-family: var(--accent-font), sans-serif;
  font-style: normal;
  line-height: 25px;
  text-transform: uppercase;
}

.rec_icon::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 9px;
  height: 9px;
  margin: -5px -20px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}


.decorated-zone::before {
  content: '';
  position: absolute;
  display: block;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  display: block;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  block-size: 25px;
  inline-size: 25px;
  bottom: 10px;
  left: 10px;

}

.header__theme-menu {
  padding-top: 76px; 
}


.header__theme-menu-list {
  display: grid;
  justify-items: end; 
  gap: 13px;
}


.header__theme-menu-item {
  color: var(--accent-color);
  text-align: center;
  font-family: var(--accent-font), sans-serif;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
}

.header__theme-menu-button {
  background-color: transparent;
  border: none;
}

.header__theme-menu-button_type_dark {
  border: 1px solid  var(--accent-color);
  display: inline-flex;
  height: 26px;
  text-align: center;
  flex-shrink: 0;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.container {
  display: flex;
  flex-direction: column;
}


.title {
  color: var(--accent-title);
  text-shadow: 4px 4px 0px var(--accent-color);
  font-size: clamp(7.25rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}


.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-text-header);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.section_content {
  max-inline-size: 364px;
  margin-block-start: 55px;    
}
.main {
  background-color: var(--bk-color);
}

.content_section {
  padding: 0 10px 0;
}

.title_content {
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding: 40px 0 20px;
}


.paragraph {
  color: #F1B2CE;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height:  130% ;
  padding: 10px 0 20px;
}

.text_title {
  color: var(--bk-color);
  font-size: var(--font-size);
  font-style: normal;
  font-weight: 400;
  line-height: 130% ;
}

.text {
  margin-block-start: 20px;
}

.section_article_images {
  display: grid;
  gap: 10px;
  padding-top: 10px;
}

.section__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}


.footer {
  position: relative;
  background-color: var(--bk-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  
  
.footer__title {
  color: var(--accent-title);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-shadow: 2px 2px 0px var(--accent-color);
  }

@media screen and (max-width: 767px) {
  .title {
    padding: 65px 0 55px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    min-height: 1024px;
    padding: 0 20px 0;
  }
  
  .rec_icon {
    top: 20px;
    right: 49px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px; 
  }
  
  .header__theme-menu {
    padding-top: 147px;
  }
  

  .title {
    margin-inline-start: -20px;
  }
  .container {
    gap: 162px;
    display: grid;
    padding-top: 173px;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  
  .section_content {
    justify-self: end;
  }

  .content_section {
    display: grid;
    padding: 0 20px 0;
    gap: 20px;
  }

  .title_content {
    padding-top: 60px;
  }

  .section_factors {
    padding-bottom: 80px;
  }
  
  .content_section {
    grid-template-columns: 236px 1fr 1fr;
  }
  
  .section .main_content,
  .main-section .main_content {
    grid-column: 2/4;
  }

  .section_factors .main_content {
    grid-column: span 3;
  }

  .main-section .title_content {
    grid-row: span 2;
  }

  .main-section .title_rules {
    grid-column: span 2;
  }

  .gallery .title_rules {
    grid-column: span 3;
  }

  .content_section .gallery {
    grid-template-rows: auto 192px 230px 318px;
  }

  .section_article_images:nth-of-type(1),
  .section_article_images:nth-of-type(5) {
    grid-column: span 2;
  }

  .section_article_images:nth-of-type(2),
  .section_article_images:nth-of-type(3) {
    grid-row: span 2;
  }
}